[submodule "EventTargetImpl"]
	path = EventTargetImpl
	url = https://github.com/MarkMYoung/EventTargetImpl.git
[submodule "dep/EventTargetImpl"]
	path = dep/EventTargetImpl
	url = git://github.com/MarkMYoung/EventTargetImpl
[submodule "dep/DataFilter"]
	path = dep/DataFilter
	url = git://github.com/MarkMYoung/DataFilter
